.App {
  text-align: center;
}

.App-header {
  background-color: goldenrod;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img {
  max-width: 320px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 10px;
  background-color: lightseagreen;
}
